<aside class="left-sidebar">
    <ul id="slide-out" class="sidenav">

        <li>
            <ul class="collapsible p-t-30">

                <li>
                    <a href="/Admin/" class="collapsible-header">
                        <i class="material-icons">home</i><span class="hide-menu">Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Hotel" class="collapsible-header">
                        <i class="material-icons">location_city</i><span class="hide-menu">Oteller</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/HotelCategory" class="collapsible-header">
                        <i class="material-icons">category</i><span class="hide-menu">Otel Kategorileri</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/HotelComments" class="collapsible-header">
                        <i class="material-icons">comments</i><span class="hide-menu">Otel Yorumları (@ViewBag.CommentCount)</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Room" class="collapsible-header">
                        <i class="material-icons">hotel</i><span class="hide-menu">Odalar</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/RoomNumber" class="collapsible-header">
                        <i class="material-icons">format_list_numbered</i><span class="hide-menu">Oda Numaraları</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Booking" class="collapsible-header">
                        <i class="material-icons">booking</i><span class="hide-menu">Rezervasyonlar</span>
                    </a>
                </li>

                <li>
                    <a href="/Admin/RoomSpecs" class="collapsible-header">
                        <i class="material-icons">list</i><span class="hide-menu">Oda Özellikleri</span>
                    </a>
                </li>
                <li>
                    <a href="/Frontend" class="collapsible-header">
                        <i class="material-icons">website</i><span class="hide-menu">Websiteye Git</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</aside>